$ff: 'Segoe UI';

$black: #000;
$white: #fff;
$color-primary: #4579CB;
$color-text: #666666;
$color-titles: #474747;
$color-input: #E6E6E6;
$color-cards: #F6F7FD;

$color-titles: #474747;
$footer-bottom-bg: #306ECE;


// dark-theme 

$color-bg-dark: #232323;
$color-cards-dark: #121212;
$color-footer-dark: #272727;
$color-input-dark: #262626;
$color-primary-dark: #5987D1;
$color-youtube-dark: #CACACA;
$partners-bg-dark: #2F2F2F;
$transition: .2s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;


